<div class="container-fluid main">

  <div class="d-flex justify-content-between">
    <p>Your Items</p>
    <p class="show">Show All</p>
  </div>

  <div class="row items g-4">
    <div class="col-12 col-sm-12 col-md-4 item mb-2 ms-1">
      <div class="header d-flex align-items-center justify-content-between">
        <div class="icons-left">
          <img class="waves" src="../../assets/images/waves.svg" alt="Feature">
        </div>
        <div class="icons-right">
          <img class="star" src="../../assets/images/star.svg" alt="Feature">
        </div>
      </div>
      <div class="title">
        <p>Timbuk2 - 5 days ago</p>
      </div>
      <div class="content mb-lg-5 mb-md-5 mb-sm-5">
        <p class="text-truncate">Item 1</p>
      </div>
      <div class="buttons d-flex justify-content-center gap-2">
        <button class="btn btn-outline-secondary btn-download px-3">Download</button>
        <button class="btn btn-outline-secondary btn-view px-3">View</button>
      </div>
    </div>

    <div class="col-12 col-sm-12 col-md-4 item mb-2">
      <div class="header d-flex align-items-center justify-content-between">
          <div class="icons-left">
            <img class="waves" src="../../assets/images/waves.svg" alt="Feature">
          </div>
          <div class="icons-right">
            <img class="star" src="../../assets/images/star.svg" alt="Feature">
          </div>
       </div>

       <div class="title">
        <p>Timbuk2 - 5 days ago</p>
      </div>

      <div class="content mb-lg-5 mb-md-5 mb-sm-5">
        <p class="text-truncate">Item 2</p>
      </div>
      <div class="buttons d-flex justify-content-center gap-2">
        <button class="btn btn-outline-secondary btn-download px-3">Download</button>
        <button class="btn btn-outline-secondary btn-view px-3">View</button>
      </div>
    </div>

    <div class="col-12 col-sm-12 col-md-4 item mb-2 ms-1">
      <div class="header d-flex align-items-center justify-content-between">
        <div class="icons-left">
          <img class="waves" src="../../assets/images/waves.svg" alt="Feature">
        </div>
        <div class="icons-right">
          <img class="star" src="../../assets/images/star.svg" alt="Feature">
        </div>

      </div>
      <div class="title">
        <p>Timbuk2 - 5 days ago</p>
      </div>
      <div class="content mb-lg-5 mb-md-5 mb-sm-5">
        <p class="text-truncate">Item 3, Item 3, Item 3, Item 3, Item 3</p>
      </div>
      <div class="buttons d-flex justify-content-center gap-2">
        <button class="btn btn-outline-secondary btn-download px-3">Download</button>
        <button class="btn btn-outline-secondary btn-view px-3">View</button>
      </div>
    </div>

    <div class="col-12 col-sm-12 col-md-4 item mb-2">
      <div class="header d-flex align-items-center justify-content-between">
        <div class="icons-left">
          <img class="waves" src="../../assets/images/waves.svg" alt="Feature">
        </div>
        <div class="icons-right">
          <img class="star" src="../../assets/images/star.svg" alt="Feature">
        </div>
      </div>

      <div class="title">
        <p>Timbuk2 - 5 days ago</p>
      </div>

      <div class="content mb-lg-5 mb-md-5 mb-sm-5">
        <p class="text-truncate">Item 4</p>
      </div>
      <div class="buttons d-flex justify-content-center gap-2">
        <button class="btn btn-outline-secondary btn-download px-3">Download</button>
        <button class="btn btn-outline-secondary btn-view px-3">View</button>
      </div>
    </div>

    <div class="col-12 col-sm-12 col-md-4 item mb-2 ms-1">
      <div class="header d-flex align-items-center justify-content-between">
        <div class="icons-left">
          <img class="waves" src="../../assets/images/waves.svg" alt="Feature">
        </div>
        <div class="icons-right">
          <img class="star" src="../../assets/images/star.svg" alt="Feature">
        </div>

      </div>
      <div class="title">
        <p>Timbuk2 - 5 days ago</p>
      </div>

      <div class="content mb-lg-5 mb-md-5 mb-sm-5 fixed-height">
        <p class="text-truncate">Item 5, Item 5, Item 5, Item 5, Item 5, Item 5, Item 5, Item 5, Item 5, Item 5, Item 5, Item 5, Item 5, Item 5...</p>
      </div>
      <div class="buttons d-flex justify-content-center gap-2">
        <button class="btn btn-outline-secondary btn-download px-3">Download</button>
        <button class="btn btn-outline-secondary btn-view px-3">View</button>
      </div>
    </div>

    <div class="col-12 col-sm-12 col-md-4 item mb-2">
      <div class="header d-flex align-items-center justify-content-between">
        <div class="icons-left">
          <img class="waves" src="../../assets/images/waves.svg" alt="Feature">
        </div>
        <div class="icons-right">
          <img class="star" src="../../assets/images/star.svg" alt="Feature">
        </div>

      </div>
      <div class="title">
        <p>Timbuk2 - 5 days ago</p>
      </div>

      <div class="content  mb-lg-5 mb-md-5 mb-sm-5 fixed-height">
        <p class="text-truncate">Item 5, Item 5, Item 5, Item 5, Item 5, Item 5, Item 5, Item 5, Item 5, Item 5,
          Item 5, Item 5</p>
      </div>
      <div class="buttons d-flex justify-content-center gap-2">
        <button class="btn btn-outline-secondary btn-download px-3">Download</button>
        <button class="btn btn-outline-secondary btn-view px-3">View</button>
      </div>
    </div>
  </div>
</div>
