<div class="container-fluid main">
  <div class="color-overlay-main"></div>
  <p class="mt-1 my-3">Your Items</p>
  <div class="row items">
    <div class="col-12 col-sm-12 col-md-4 item mb-2 ms-1">
      <div class="header d-flex align-items-center justify-content-between">
        <div class="icons">
          <img class="waves" src="../../assets/images/waves.svg" alt="Feature">
          <img class="star" src="../../assets/images/star.svg" alt="Feature">
        </div>
      </div>
      <div class="title">
        <p>Timbuk2 - 5 days ago</p>
      </div>
      <div class="content mb-lg-5 mb-md-5 mb-sm-5">
        <p>Item 1</p>
      </div>
      <div class="buttons d-flex justify-content-center">
        <button class="btn btn-outline-secondary btn-download me-2 p-0">Download</button>
        <button class="btn btn-outline-secondary btn-view p-0">View</button>
      </div>
    </div>

    <div class="col-12 col-sm-12 col-md-4 item mb-2">
      <div class="header d-flex align-items-center justify-content-between">
        <div class="icons">
          <img class="waves" src="../../assets/images/waves.svg" alt="Feature">
          <img class="star" src="../../assets/images/star.svg" alt="Feature">
        </div>
       </div>

       <div class="title">
        <p>Timbuk2 - 5 days ago</p>
      </div>

      <div class="content mb-lg-5 mb-md-5 mb-sm-5">
        <p>Item 2</p>
      </div>
      <div class="buttons d-flex justify-content-center">
        <button class="btn btn-outline-secondary btn-download me-2 p-0">Download</button>
        <button class="btn btn-outline-secondary btn-view p-0">View</button>
      </div>
    </div>

    <div class="col-12 col-sm-12 col-md-4 item mb-2 ms-1">
      <div class="header d-flex align-items-center justify-content-between">
        <div class="icons">
          <img class="waves" src="../../assets/images/waves.svg" alt="Feature">
          <img class="star" src="../../assets/images/star.svg" alt="Feature">
        </div>

      </div>
      <div class="title">
        <p>Timbuk2 - 5 days ago</p>
      </div>
      <div class="content mb-lg-5 mb-md-5 mb-sm-5">
        <p>Item 3, Item 3, Item 3, Item 3, Item 3</p>
      </div>
      <div class="buttons d-flex justify-content-center">
        <button class="btn btn-outline-secondary btn-download me-2 p-0">Download</button>
        <button class="btn btn-outline-secondary btn-view p-0">View</button>
      </div>
    </div>

    <div class="col-12 col-sm-12 col-md-4 item mb-2">
      <div class="header d-flex align-items-center justify-content-between">
        <div class="icons">
          <img class="waves" src="../../assets/images/waves.svg" alt="Feature">
          <img class="star" src="../../assets/images/star.svg" alt="Feature">
        </div>
      </div>

      <div class="title">
        <p>Timbuk2 - 5 days ago</p>
      </div>

      <div class="content mb-lg-5 mb-md-5 mb-sm-5">
        <p>Item 4</p>
      </div>
      <div class="buttons d-flex justify-content-center">
        <button class="btn btn-outline-secondary btn-download me-2 p-0">Download</button>
        <button class="btn btn-outline-secondary btn-view p-0">View</button>
      </div>
    </div>

    <div class="col-12 col-sm-12 col-md-4 item mb-2 ms-1">
      <div class="header d-flex align-items-center justify-content-between">
        <div class="icons">
          <img class="waves" src="../../assets/images/waves.svg" alt="Feature">
          <img class="star" src="../../assets/images/star.svg" alt="Feature">
        </div>

      </div>
      <div class="title">
        <p>Timbuk2 - 5 days ago</p>
      </div>

      <div class="content mb-lg-2 mb-md-2 mb-sm-2">
        <p class="reduce-items">Item 5, Item 5, Item 5, Item 5, Item 5, Item 5, Item 5, Item 5, Item 5, Item 5, Item 5, Item 5, Item 5, Item 5...</p>
      </div>
      <div class="buttons d-flex justify-content-center">
        <button class="btn btn-outline-secondary btn-download me-2 p-0">Download</button>
        <button class="btn btn-outline-secondary btn-view p-0">View</button>
      </div>
    </div>

    <div class="col-12 col-sm-12 col-md-4 item mb-2">
      <div class="header d-flex align-items-center justify-content-between">
        <div class="icons">
          <img class="waves" src="../../assets/images/waves.svg" alt="Feature">
          <img class="star" src="../../assets/images/star.svg" alt="Feature">
        </div>

      </div>
      <div class="title">
        <p>Timbuk2 - 5 days ago</p>
      </div>

      <div class="content  mb-lg-2 mb-md-2 mb-sm-2">
        <p>Item 5, Item 5, Item 5, Item 5, Item 5, Item 5, Item 5, Item 5, Item 5, Item 5,
          Item 5, Item 5</p>
      </div>
      <div class="buttons d-flex justify-content-center">
        <button class="btn btn-outline-secondary btn-download me-2 p-0">Download</button>
        <button class="btn btn-outline-secondary btn-view p-0">View</button>
      </div>
    </div>
  </div>
</div>
