<div class="container-fluid main">

  <div class="d-flex justify-content-between top-text">
    <p>Your Items</p>
    <p class="show">Show All</p>
  </div>

  <div class="row items g-4">
    <div class="col-12 col-sm-12 col-md-4 item mb-2 ms-1" *ngFor="let item of items">
      <div class="header d-flex align-items-center justify-content-between">
        <div class="icons-left">
          <img class="waves" src="../../assets/images/waves.svg" alt="Feature">
        </div>
        <div class="icons-right">
           <span class="star"
            [class.clicked]="item.isStarred"
            (click)="toggleStar(item.id)" ></span>
           </div>
      </div>
      <div class="title">
        <p>{{item.title}}</p>
      </div>
      <div class="content mb-lg-5 mb-md-5 mb-sm-5">
        <p class="text-truncate">{{item.content}}</p>
      </div>
      <div class="buttons d-flex justify-content-center gap-2">
        <button class="btn btn-outline-secondary btn-download px-3">Download</button>
        <button class="btn btn-outline-secondary btn-view px-3">View</button>
      </div>
    </div>
  </div>


