.search-bar {
  margin-bottom: 10px;
  position: relative;
}

.search-bar input {
  width: 100%;
  padding: 16px 12px 16px 12px;
  border: 1px solid #C6CACE;
  border-radius: 10px;
  text-align: center;
}

.search-bar.search-icon::before {
  content: url("../../../assets/images/search.svg");
  position: absolute;
  top: 40%;
  left: 5px;
  width: 20px;
  height: 20px;
}


/* Mobile devices */
@media screen and (max-width: 576px) {
  .search-bar input {
    padding: 12px 10px 12px 35px;
    font-size: 14px;
  }

  .search-bar.search-icon::before {
    width: 16px;
    height: 16px;
    left: 10px;
  }
}

/* Tablets */
@media screen and (min-width: 577px) and (max-width: 991px){
  .search-bar input {
    padding: 14px 12px 14px 38px;
    font-size: 15px;
  }

  .search-bar.search-icon::before {
    width: 18px;
    height: 18px;
    left: 11px;
  }
}

/* Large screens */
@media screen and (min-width: 992px)  {
  .search-bar input {
    padding: 18px 14px 18px 45px;
    font-size: 16px;
  }

  .search-bar.search-icon::before {
    width: 22px;
    height: 22px;
    left: 14px;
  }
}
