<div class="d-flex container">
  <app-skeleton-sidebar></app-skeleton-sidebar>

  <div class="container-fluid main">
    <div class="skeleton-title-header pulse"></div>

    <div class="skeleton-p pulse"></div>
    <div class="skeleton-justify">
      <div class="skeleton-icon pulse circle-small"></div>
      <div class="skeleton-icon pulse circle-small"></div>
    </div>
    <div class="row items">
      <div class="col-12 col-sm-6 col-md-4 skeleton-card">
        <div class="skeleton-card-header">
          <div class="skeleton-icon-group">
            <div class="skeleton-icon pulse"></div>
            <div class="skeleton-icon pulse circle"></div>
          </div>
        </div>

        <div class="skeleton-title pulse"></div>

        <div class="skeleton-content">
          <div class="skeleton-text pulse"></div>
        </div>

        <div class="skeleton-buttons">
          <div class="skeleton-button pulse"></div>
          <div class="skeleton-button pulse"></div>
        </div>
      </div>

      <div class="col-12 col-sm-6 col-md-4 skeleton-card">
        <div class="skeleton-card-header">
          <div class="skeleton-icon-group">
            <div class="skeleton-icon pulse"></div>
            <div class="skeleton-icon pulse circle"></div>
          </div>
        </div>

        <div class="skeleton-title pulse"></div>

        <div class="skeleton-content">
          <div class="skeleton-text pulse"></div>
        </div>

        <div class="skeleton-buttons">
          <div class="skeleton-button pulse"></div>
          <div class="skeleton-button pulse"></div>
        </div>
      </div>

      <div class="col-12 col-sm-6 col-md-4 skeleton-card">
        <div class="skeleton-card-header">
          <div class="skeleton-icon-group">
            <div class="skeleton-icon pulse"></div>
            <div class="skeleton-icon pulse circle"></div>
          </div>
        </div>

        <div class="skeleton-title pulse"></div>

        <div class="skeleton-content">
          <div class="skeleton-text pulse"></div>
        </div>

        <div class="skeleton-buttons">
          <div class="skeleton-button pulse"></div>
          <div class="skeleton-button pulse"></div>
        </div>
      </div>

      <div class="col-12 col-sm-6 col-md-4 skeleton-card">
        <div class="skeleton-card-header">
          <div class="skeleton-icon-group">
            <div class="skeleton-icon pulse"></div>
            <div class="skeleton-icon pulse circle"></div>
          </div>
        </div>

        <div class="skeleton-title pulse"></div>

        <div class="skeleton-content">
          <div class="skeleton-text pulse"></div>
        </div>

        <div class="skeleton-buttons">
          <div class="skeleton-button pulse"></div>
          <div class="skeleton-button pulse"></div>
        </div>
      </div>

      <div class="col-12 col-sm-6 col-md-4 skeleton-card">
        <div class="skeleton-card-header">
          <div class="skeleton-icon-group">
            <div class="skeleton-icon pulse"></div>
            <div class="skeleton-icon pulse circle"></div>
          </div>
        </div>

        <div class="skeleton-title pulse"></div>

        <div class="skeleton-content">
          <div class="skeleton-text pulse"></div>
        </div>

        <div class="skeleton-buttons">
          <div class="skeleton-button pulse"></div>
          <div class="skeleton-button pulse"></div>
        </div>
      </div>
      <div class="col-12 col-sm-6 col-md-4 skeleton-card">
        <div class="skeleton-card-header">
          <div class="skeleton-icon-group">
            <div class="skeleton-icon pulse"></div>
            <div class="skeleton-icon pulse circle"></div>
          </div>
        </div>

        <div class="skeleton-title pulse"></div>

        <div class="skeleton-content">
          <div class="skeleton-text pulse"></div>
        </div>

        <div class="skeleton-buttons">
          <div class="skeleton-button pulse"></div>
          <div class="skeleton-button pulse"></div>
        </div>
      </div>
    </div>
  </div>
  </div>


