.container {
  display: flex;
  background-color: var(--primary-default);
  width: 1084px;
  height: 1059px;
  padding-top: 8px;
  padding-bottom: 8px;
  margin: auto;
}


.top-bar {
  width: 90%;
  height: 50px;
  background-color:  #c499b8;
}
