<div class="hamburger-menu d-md-none" (click)="toggleMenu()">
  <span class="bar"></span>
  <span class="bar"></span>
  <span class="bar"></span>
</div>

<div class="sidebar" [ngClass]="{'show-menu': isMenuOpen}">
  <div class="color-overlay"></div>
  <nav>
    <div class="logo">
      <p>AGoodCompany</p>
  </div>

  <app-searchbar></app-searchbar>
  <ul>
      <li class="home"><a href="#"><img src="../../../assets/images/home.svg" alt="home"> Home</a></li>
      <li><a href="#"><img src="../../assets/images/menu1.svg" alt="menu1"> Menu 1</a></li>
      <li><a href="#"><img src="../../assets/images/menu2.svg" alt="menu2"> Menu 2</a></li>
      <li><a href="#"><img src="../../assets/images/menu3.svg" alt="menu3"> Menu 3</a></li>


      <div class="nav-items">
      <li><a href="#"><img src="../../assets/images/settings.svg" alt="settings"> Settings</a></li>
      <li><a href="#"><img src="../../assets/images/support.svg" alt="support"> Support</a></li>
     </div>

  </ul>

  <div class="feature">
      <h4>Feature Available now!</h4>
      <p>Check out the new dashboard
      Pages now load faster</p>
      <img src="../../assets/images/Rectangle 19.png" alt="Feature">
  </div>
  </nav>
</div>

<!-- <div class="sidebar">
  <div class="color-overlay"></div>
  <nav>


  </nav>
</div> -->


