<div class="sidebar-skeleton sidebar">

  <div class="skeleton-logo pulse"></div>


  <div class="skeleton-search pulse"></div>

  <div class="skeleton-nav">
    <div class="color-overlay"></div>
    <div class="skeleton-item pulse">
      <div class="skeleton-icon"></div>
      <div class="skeleton-text"></div>
    </div>
    <div class="skeleton-item pulse">
      <div class="skeleton-icon"></div>
      <div class="skeleton-text"></div>
    </div>
    <div class="skeleton-item pulse">
      <div class="skeleton-icon"></div>
      <div class="skeleton-text"></div>
    </div>
    <div class="skeleton-item pulse">
      <div class="skeleton-icon"></div>
      <div class="skeleton-text"></div>
    </div>
    <div class="skeleton-gap">
    <div class="skeleton-item pulse">
      <div class="skeleton-icon"></div>
      <div class="skeleton-text"></div>
    </div>

    <div class="skeleton-item pulse">
      <div class="skeleton-icon"></div>
      <div class="skeleton-text"></div>
    </div>
    </div>
  </div>


  <div class="skeleton-feature pulse">
    <div class="skeleton-feature-title"></div>
    <div class="skeleton-feature-text"></div>
    <div class="skeleton-feature-image"></div>
  </div>
</div>
